<!-- pulls in info from product.rb and displays specified fields -->
<!-- bulma required a lot of inline styling -->
<section>
    <h1 class="title">Shop</h1>
    <div class="shop">
    <div class="columns is-multiline "> 
        <% @products.each do |product| %>
            <div id="shop" class="column">
                <figure class="image">
                    <%= product.image.attached? ? image_tag(product.image, class: "image is-square is-fullwidth" ) : " " %>
                </figure>

                <p><strong><%=  product.product_name.capitalize %> </strong></p>
                <p> <strong>Current location: </strong><%= product.current_country.capitalize %></p>
                <p> Price: <%= number_to_currency product.price %> AUD</p>
                <p><%= link_to 'Product Details', product, class: 'button is-info is-outlined is-small is-rounded' %></p>
                
            </div>  
        <% end %>
    </div>    
    </div>
</section>
