<section>
    <h1 class="title">Shop</h1>
    <div class="shop">
    <div class="columns is-multiline "> 
        <% @products.each do |product| %>
            <div id="shop" class="column">
                <figure class="image">
                    <%= product.image.attached? ? image_tag(product.image, class: "image is-square is-fullwidth" ) : " " %>
                </figure>

                <p><strong><%=  product.product_name.capitalize %> </strong></p>
                <p> <strong>Current location: </strong><%= product.current_country.capitalize %></p>
                <p> Price: <%= number_to_currency product.price %> AUD</p>
                <p><%= link_to 'Product Details', product, class: 'button is-info is-outlined is-small is-rounded' %></p>
                <% if user_signed_in? %>
                    <% if (current_user == product.user) || (current_user.has_role? :admin) %>
                        <p><%= link_to 'Edit', edit_product_path(product), class: 'button is-small is-outlined is-rounded is-warning' %></p>
                        <p><%= link_to 'Destroy', product, method: :delete, class: 'button is-small is-outlined is-rounded is-warning', data: { confirm: 'Are you sure?' } %></p>
                    <% end %>   
                <% end%>  
            </div>  
        <% end %>
    </div>    
    </div>
</section>
