<h1 class="title"> <%= @product.product_name %> </h1>

<figure class="image is-square">
    <%= @product.image.attached? ? image_tag(@product.image, height: 40) : " " %>
</figure>
<h4> Country of origin: <%= @product.origin_country %> </h4>
<h4> Voltage: <%= @product.voltage %> </h4>
<h4> Plug type: <%= @product.plug_type %> </h4>
<h4> Condition: <%= @product.condition %> </h4>
<h4> Current Country: <%= @product.current_country %> </h4>
<h4> Current City: <%= @product.current_city %> </h4>
<h4> Price: <%= number_to_currency @product.price %> </h4>
<div data-turbolinks="false">
    <%= link_to "Buy Now", new_order_path(@product) %>
</div>
<br>

<a class="link is-info is-size-5"> <%= link_to "Shop", products_path%>