<figure id="plugs" class="image is-20">
    <p> <%= image_tag("plug_A.png", :alt => "Plug A", width: "100%") %> Plug A</p>
    <p> <%= image_tag("plug_B.png", :alt =>"Plug B", width: "100%") %> Plug B</p>
    <p> <%= image_tag("plug_C.png", :alt => "Plug C", width: "100%") %> Plug C</p>
    <p> <%= image_tag("plug_D.png", :alt => "Plug D", width: "100%") %>  Plug D</p>
    <p> <%= image_tag("plug_E.png", :alt => "Plug E", width: "100%") %> Plug E</p>
    <p> <%= image_tag("plug_F.png", :alt => "Plug F", width: "100%") %> Plug F</p>
    <p> <%= image_tag("plug_G.png", :alt => "Plug G", width: "100%") %> Plug G</p>
    <p> <%= image_tag("plug_H.png", :alt => "Plug H", width: "100%") %> Plug H</p>
    <p> <%= image_tag("plug_I.png", :alt => "Plug I", width: "100%") %> Plug I</p>
    <p> <%= image_tag("plug_J.png", :alt => "Plug J", width: "100%") %> Plug J</p>
    <p> <%= image_tag("plug_K.png", :alt => "Plug K", width: "100%") %> Plug K</p>
    <p> <%= image_tag("plug_L.png", :alt => "Plug L", width: "100%") %> Plug L</p>
    <p> <%= image_tag("plug_M.png", :alt => "Plug M", width: "100%") %> Plug M</p>
</figure>