<!DOCTYPE html>
<html>
  <head>
    <title>X-pat|X-change</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render "layouts/nav"%>
    <p>Welcome! </p>
    <%= yield %>
    
    <%= render "layouts/foot"%>
  </body>
</html>
