<!DOCTYPE html>
<html>
  <head>
    <title>X-pat|X-change</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body> 
    <!-- brings in partial -->
    <%= render "layouts/nav"%>
    <!-- putting the notifications below the nav bar -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <!-- "hero banner for account info" -->
    <div class="container is-fluid">
    <section class="hero has-text-centered">
      <div class="hero-body">
        <div class="container">
          <!-- only visible to those logged in -->
          <% if user_signed_in?%>  
            <p class="is-size-5">
                Welcome, <%= current_user.email %>! | <%= link_to "Logout", destroy_user_session_path, method: "delete", class: 'button is-warning' %>
            </p>
            <br>
            <div>
              <%= link_to "Post an Item for Sale", new_product_path, class: 'button is-info' %>
            </div>
          <% end %>
        </div>
      </div>
    </section>
    <!-- place to render other html.erb files -->
    <section class="center">
    <%= yield %>
    </section>
    
    </div>
  <!-- brings in partial -->
  <%= render "layouts/foot"%>
  </body>
  
</html>
